
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* font-family: 'Times New Roman', Times, serif; */
  /* padding: 15%; */
}
canvas {
  /* background-color: pink; */
  display: block;
}

/* #body{
  width: 100vw;
  height: 100vh;
/*   background-color: blue;
} */

